@import "pico.css"

header
  width: 100%
  border-bottom: 1px solid #eee
  margin-bottom: 1em
  padding: 1em
  background: #fafafa

footer
  width: 100%
  font-size: 0.8em
  border-top: 1px solid #eee
  margin-top: 1em
  padding: 1em
  background: #fafafa
  text-align: center

  ul
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    list-style-type: none
    padding: 0
    li
      margin-right: 20px
      list-style-type: none
      &:last-child
        margin-right: 0px